@tailwind base;
@tailwind components;
@tailwind utilities;

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1rem;
}
.episode-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  gap: 1rem;
}

body {
  background-color: #18181b;
  color: #94a3b8;
}
